BLOG_APP_PORT=8080
BLOG_ENV=dev
BLOG_DB_DRIVER=postgres
BLOG_DB_DSN=postgres://postgres:postgres@localhost:5432/go_blog?sslmode=disable
BLOG_REDIS_ADDR=127.0.0.1:6379
BLOG_REDIS_DB=0
BLOG_REDIS_PASS=
BLOG_JWT_SECRET=change_me
BLOG_JWT_TTL=60